<html>

<head>
<title><%= meta.title %>: <%= meta.subtitle %></title>
<meta name="author" content="<%= meta.author %>" />
<link rel="stylesheet" type="text/css" href="themes/css/styles.<%= buildType %>.css" />
</head>

<body>
<!-- A page for the well-deserved PrinceXML logo -->
<div class="blankpage"></div>

<div class="frontcover">

<img src="themes/images/cover.jpg" />

</div>

<%- include('./frontmatter/1_title.md.ejs'); %>
<%- include('./frontmatter/toc.md.ejs'); %>
<%- include('./frontmatter/preface.md.ejs'); %>
<%- include('./bodymatter/c1-web-html.md.ejs'); %>
<%- include('./bodymatter/c2-css.md.ejs'); %>

</body>

</html>