<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<title><%= meta.title %>: <%= meta.subtitle %></title>
<meta name="author" content="<%= meta.author %>" />
<link rel="stylesheet" type="text/css" href="theme/css/styles.pdf.css" />
</head>

<body>
<!-- A page for the well-deserved PrinceXML logo -->
<div class="blankpage"></div>

<div class="frontcover">

<img src="theme/images/cover.jpg" />

</div>

<%- include('./frontmatter/1_title.md.ejs'); %>
<%- include('./frontmatter/toc.md.ejs'); %>
<%- include('./frontmatter/preface.md.ejs'); %>
<%- include('./mainmatter/c1-web-html.md.ejs'); %>
<%- include('./mainmatter/c2-css.md.ejs'); %>
<%- include('./backmatter/1-index.md.ejs'); %>

</body>

</html>